[submodule "axon"]
	path = axon
	url = C:/Program Files/Git/axon
[submodule "joist"]
	path = joist
	url = C:/Program Files/Git/joist
[submodule "phet-core"]
	path = phet-core
	url = C:/Program Files/Git/phet-core
[submodule "scenery-phet"]
	path = scenery-phet
	url = C:/Program Files/Git/scenery-phet
